# Assignment 1- Santhi Madhurya Prathi

## 1.Setup

In [10]:
# import numpy and pandas libraries
import numpy as np
import pandas as pd
import imblearn
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import confusion_matrix
# set random seed to ensure that results are repeatable
np.random.seed(1)

In [11]:
# Set the random seed

In [12]:
# set random seed to ensure that results are repeatable
np.random.seed(1)

The dataset is connected to predicting the purchase of the Apple M1 Mac book.
The purpose of this data set is to predict whether or not the customer will buy the M1 Macbook.

In [22]:
# load data
appledata = pd.read_csv("M1_purchase_data.csv")

In [23]:
# generate a basic summary of the data
appledata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trust_apple          133 non-null    object
 1   interest_computers   133 non-null    int64
 2   age_computer         133 non-null    int64
 3   user_pcmac           133 non-null    object
 4   appleproducts_count  133 non-null    int64
 5   familiarity_m1       133 non-null    object
 6   f_batterylife        133 non-null    int64
 7   f_price              133 non-null    int64
 8   f_size               133 non-null    int64
 9   f_multitasking       133 non-null    int64
 10  f_noise              133 non-null    int64
 11  f_performance        133 non-null    int64
 12  f_neural             133 non-null    int64
 13  f_synergy            133 non-null    int64
 14  f_performanceloss    133 non-null    int64
 15  m1_consideration     133 non-null    int64
 16  m1_purchase          133 non-null    object
 17  gender               133 non-null    object
 18  age_group            133 non-null    int64
 19  income_group         133 non-null    int64
 20  status               133 non-null    object
 21  domain               133 non-null    object
dtypes: int64(15), object(7)
memory usage: 23.0+ KB

In [15]:
# generate a statistical summary of the numeric value in the data
appledata.describe()

,interest_computers,age_computer,appleproducts_count,f_batterylife,f_price,f_size,f_multitasking,f_noise,f_performance,f_neural,f_synergy,f_performanceloss,m1_consideration,age_group,income_group
count,133.00000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000
mean,3.81203,2.827068,2.609023,4.526316,3.872180,3.157895,4.120301,3.729323,4.398496,3.165414,3.466165,3.375940,3.609023,2.969925,2.969925
std,0.96256,2.444881,1.898303,0.723826,0.995547,1.166724,0.798081,1.129010,0.768113,1.142700,1.276530,1.125473,1.242155,1.898723,2.014868
min,2.00000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.00000,1.000000,1.000000,4.000000,3.000000,2.000000,4.000000,3.000000,4.000000,2.000000,3.000000,3.000000,3.000000,2.000000,1.000000
50%,4.00000,3.000000,3.000000,5.000000,4.000000,3.000000,4.000000,4.000000,5.000000,3.000000,4.000000,4.000000,4.000000,2.000000,2.000000
75%,5.00000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,5.000000,4.000000,4.000000,4.000000,5.000000,3.000000,4.000000
max,5.00000,9.000000,8.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,10.000000,7.000000

In [16]:
# there are many ways we could explore our data. A rather new library available is called 
# jupyter-summarytools this library provides functions that provide very thorough summaries 
# of your data. Though such detail is not always required, there are times when you want a 
# thorough summary

# jupyter-summary tools is not part of the standard anaconda distribution of python, nor 
# is it in any conda channels. To install this library, you need to install it from the 
# terminal/command line using pip pip install jupyter-summarytools

# once installed, you can import this library and use dfSummary to provide a more thorough 
# summary of your data
import summarytools
from summarytools import dfSummary
dfSummary(appledata)

In [17]:
# Check the missing values by summing the total na's for each variable
appledata.isna().sum()

trust_apple            0
interest_computers     0
age_computer           0
user_pcmac             0
appleproducts_count    0
familiarity_m1         0
f_batterylife          0
f_price                0
f_size                 0
f_multitasking         0
f_noise                0
f_performance          0
f_neural               0
f_synergy              0
f_performanceloss      0
m1_consideration       0
m1_purchase            0
gender                 0
age_group              0
income_group           0
status                 0
domain                 0
dtype: int64

### Performing label encoding to few columns to convert all the attributes to int

In [18]:
labelencoder = LabelEncoder()
for col in ['trust_apple','user_pcmac','familiarity_m1','m1_purchase','gender','status','domain']:
    appledata[col]=labelencoder.fit_transform(appledata[col])

### Verifying the data types of all the attributes are same

In [20]:
appledata.dtypes

trust_apple            int32
interest_computers     int64
age_computer           int64
user_pcmac             int32
appleproducts_count    int64
familiarity_m1         int32
f_batterylife          int64
f_price                int64
f_size                 int64
f_multitasking         int64
f_noise                int64
f_performance          int64
f_neural               int64
f_synergy              int64
f_performanceloss      int64
m1_consideration       int64
m1_purchase            int32
gender                 int32
age_group              int64
income_group           int64
status                 int32
domain                 int32
dtype: object

In [19]:
appledata.head(5)

,trust_apple,interest_computers,age_computer,user_pcmac,appleproducts_count,familiarity_m1,f_batterylife,f_price,f_size,f_multitasking,...,f_neural,f_synergy,f_performanceloss,m1_consideration,m1_purchase,gender,age_group,income_group,status,domain
0,0,4,8,3,0,0,5,4,3,4,...,2,1,1,1,1,1,2,2,3,20
1,1,2,4,3,1,0,5,5,5,3,...,2,2,4,2,0,1,2,3,0,9
2,1,5,6,3,0,0,3,4,2,4,...,2,2,2,4,1,1,2,2,3,12
3,1,2,6,0,4,0,4,3,3,4,...,4,4,3,2,0,0,2,2,3,2
4,1,4,4,0,7,1,5,3,3,4,...,3,4,4,4,1,1,5,7,0,11

#### Drop any columns/variables we will not be using to obtain more simple data

In [11]:

appledata.drop(['interest_computers', 'appleproducts_count','familiarity_m1','f_batterylife','f_price','f_size','f_multitasking','f_noise','f_neural','gender','status'], axis=1, inplace = True)

#### Drop observations with too many NA's

In [12]:
# If we want to remove rows with NA's use the following code:
appledata.dropna(axis=0, inplace=True)

In [13]:
appledata.head(5)

,trust_apple,age_computer,user_pcmac,f_performance,f_synergy,f_performanceloss,m1_consideration,m1_purchase,age_group,income_group,domain
0,0,8,3,2,1,1,1,1,2,2,20
1,1,4,3,5,2,4,2,0,2,3,9
2,1,6,3,4,2,2,4,1,2,2,12
3,1,6,0,4,4,3,2,0,2,2,2
4,1,4,0,5,4,4,4,1,5,7,11

In [19]:
train_df, test_df = train_test_split(appledata, test_size=0.3,random_state = 42,shuffle=False)
target = 'm1_purchase'
predictors = list(appledata.columns)
predictors.remove(target)
train_df.shape,test_df.shape

((93, 11), (40, 11))

#### Standardize numeric values

Now, let's create a common scale between the numberic columns by standardizing each numeric column

In [20]:
# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
cols_to_stdize = ['trust_apple', 'age_computer', 'user_pcmac', 
                   'f_performance', 'f_synergy', 'f_performanceloss','f_synergy','f_performanceloss',
                  'm1_consideration','age_group','income_group','domain']                
               
# Transform the predictors of training and validation sets
train_df[cols_to_stdize] = scaler.fit_transform(train_df[cols_to_stdize]) # train_predictors is not a numpy array


test_df[cols_to_stdize] = scaler.transform(test_df[cols_to_stdize]) # validation_target is now a series object

### Splitting the data using train test split

In [ ]:
X = appledata.drop('m1_purchase',axis=1)
y = appledata['m1_purchase']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42,shuffle=False)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

## 6.0 Save the generated data

In [21]:
train_X = train_df[predictors]
train_y = train_df[target] # train_target is now a series objecttrain_df.to_csv('airbnb_train_df.csv', index=False)
test_X = train_df[predictors]
test_y = test_df[target] # validation_target is now a series object

train_df.to_csv('appledata_train_df.csv', index=False)
train_X.to_csv('appledata_train_X.csv', index=False)
train_y.to_csv('appledata_train_y.csv', index=False)
test_df.to_csv('appledata_test_df.csv', index=False)
test_X.to_csv('appledata_test_X.csv', index=False)
test_y.to_csv('appledata_test_y.csv', index=False)